node_modules/
.env
.env.*
dist/
build/

# Dependências do Node
node_modules/

# Variáveis de ambiente e chaves secretas
.env
.env.*

# Pastas de build
dist/
build/

# Banco de Dados SQLite (MUITO IMPORTANTE)
db/database.db
*.db
*.sqlite

# Logs de erro do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos de sistema operacional (se você ou alguém do time usar Mac)
.DS_Store